node_modules
.next
out
build
coverage
.vscode
.idea
.DS_Store
*.log
*.pem
README.md
*.md
.git
.gitignore
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
.next-env.d.ts